.Cuadro {
  margin-left: 5%;
  background-color: #003d78;
  width: 90%;
  max-width: 820px;
  height: 65vh;
  border-radius: 0px 0px 0px 20%;
}

.MobC {
  display: none; /* Se oculta inicialmente */
}

@media (max-width: 768px) {
  .Cuadro {
    display: none; /* Oculta Cuadro en pantallas pequeñas */
  }
  .MobC {
    display: flex; /* Muestra MobC en pantallas pequeñas */
    margin-left: 5%;
    background-color: #003d78;
    width: 90%;
    height: 80vh;
    border-radius: 20%;
  }
}
